* {padding:0; margin:0;}
html {background-color:#005393;}

body {
	font-family: Arial, Helvetica, sans-serif;
	max-width:960px; /* keeps from getting too large on wide screen */
	width:90%; /* shrink to fit screen */
	margin:auto; /* center in html element */
	background-color:#fff;
	padding:20px;
	min-height:100%; /* keeps from getting too large on wide screen */
	}
img.flexible {
	float:right;
	display:inline-block;
	padding:20px;
	max-width:300px; /* actual size of image */
	width:33%; /* approximate size taken on screen in maximum view */
}
p {margin:10px;}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	margin:10px;
	}
h1.masthead {margin-top:0;}
footer {
	text-align:center;
	clear:both; /* ride below all items */
	}
nav{
	text-align:center; /* centers the nav */
}

nav ul {
		list-style:none; /* removes the bullets */
	}
nav ul li
	{
		display:inline-block; /* makes horizontal, but able to declare margins */
		margin:0 2%; /* margin left-right, gets smaller as necessary */
	}
nav a:hover{
	text-decoration: none;
}	